language: android
dist: trusty
jdk: oraclejdk8
android:
 licenses:
    - 'android-sdk-preview-license-.+'
    - 'android-sdk-license-.+'
    - 'google-gdk-license-.+'
 components:
    - build-tools-28.0.3
    - android-28
    - android-21
    - add-on
    - extra
    - platform-tools
    - tools
    - extra-google-googleplayservices
    - extra-google-m2repository
    - extra-android-m2repository
    - addon-google_apis-google-28
    - sys-img-armeabi-v7a-android-21
before_install:
 - yes | sdkmanager "platforms;android-28" --licenses
script:
  - ./gradlew build